*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}
nav {
    margin: 20px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
}
nav ul li{
    padding: 4px;
    list-style: none;
    font-size: 1.4rem;
}
.home{
    background-color: blueviolet;
}
.title{
    text-align: center;
    margin: 2rem;
    color: blueviolet;
}
.slapImage{
    height: 40px;
    width: 40px;
}
.pcImage{
    height: 35rem;
    width: 35rem;
}
.projectImage{
    height: 25rem;
    width: 30rem;
}
.upperPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    gap: 30px;
}
.leftPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3rem;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    row-gap: 20px;
    column-gap: 20px;
}


footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer ul li{
    list-style: none;
    padding: 3px;
}